@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900;
  @apply text-white;
  
  font: 400 16px 'Ubuntu';
}

.react-modal-overlay {
  background: rgba(9, 10, 12, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
  z-index: 1000;
}